*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: auto 1fr auto; }

nav {
  background-color: bisque; }

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none; }

nav li a {
  text-decoration: none;
  margin: 0.5rem 0.5rem; }

.errorText {
  display: inline;
  color: red; }

.hidden {
  display: none; }

.questions__card {
  box-sizing: border-box;
  background-color: azure;
  margin-top: 1rem; }
  @media screen and (min-width: 50em) {
    .questions__card {
      margin: 2rem;
      padding: 3rem; } }

.container {
  width: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 50em) {
    .container {
      width: 80%; } }
